@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");
@font-face {
    font-family: assistant-bold;
    src: url(assets/fonts/Assistant-Bold.woff);
}
@font-face {
    font-family: assistant-regular;
    src: url(assets/fonts/Assistant-Regular.woff);
}

html{
  font-family: "assistant-regular";
  color: #282c3f
}
#root{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.navlink:hover .navcategory-bg {
  visibility: visible;
}
.navlink:hover .navcategory{
  opacity: 1;
  pointer-events: all;
  transition: all 0.25s 0.3s;
}
.navcategory-bg:hover{
  pointer-events: none;
}
.category-link:hover{
  font-family: assistant-bold;
}